.footer_city_xs {
  width: 100vw;
  margin-bottom: -3px;
}
.footer_city {
  display: none;
}
.footer_link {
  display: flex;
  justify-content: space-evenly;
  background-color: #eae9e9;
  width: 100%;
  padding: 0.24rem 0;
  align-items: center;
}
.iconGraffiti {
  height: 30px;
  width: 29.855px;
}
.iconClassement {
  height: 30px;
  width: 29.855px;
}
.iconInfos {
  height: 35px;
  width: 35px;
}
