.Global_container_Smartphone {
}
.smartphone_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  margin: 1rem 0;
}
.spotZoneById {
  display: flex;
  align-items: center;
  width: 100%;
}
.Title_SpotZoneById {
  font-family: var(--font-04);
  color: var(--color-01);
  font-size: xx-large;
}
.text_SpotZoneByid {
  width: 90%;
  font-family: var(--font-00);
  color: var(--color-01);
  text-align: justify;
}
.dashed_line_SpotZone {
  margin-top: 1rem;
  border: none;
  border-top: 2px dotted black;
  height: 2px;
  width: 90%;
}
.works_city_zone_container_Smartphone {
  width: 90%;
}
.content_Work_City_Zone {
  width: 100%;
}
.picture_map_container {
  width: 90%;
  border: solid 1px black;
  border-radius: 10px;
}
.picture_SpotZoneById {
  width: 100%;
}
.Button-Back-Spotzone {
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px 0;
  width: 30%;
  text-align: center;
  font-family: var(--font-03);
  background-color: var(--color-00);
  color: var(--color-01);
  cursor: pointer;
}
.Button-Back-Spotzone:hover {
  color: var(--color-00);
  background-color: var(--color-01);
}

@media (min-width: 1440px) {
  .spotZoneById {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .spotZoneIDContent {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
  }
  .city_zone_container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
  }
  .picture_map_container {
    width: 90%;
  }
  .dashed_line_SpotZone {
    display: none;
  }
  .works_city_zone_container_Smartphone {
    display: none;
  }
  .Pagination_SpotZone_Smartphone_Desktop {
    display: none;
  }
  .Global_container_desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 1px black;
    width: 55%;
  }
  .works_city_zone_container_Desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  .content_Work_City_Zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
  }
  .Workcard_SpotZone_Desktop {
    width: 30%;
  }

  .Pagination_SpotZone_Desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
  }
  .works_city_zone_container_Smartphone {
    display: none;
  }
  .Global_container_Smartphone {
    display: none;
  }
}
